$header-color: #fff;
$header-color-black: #000;
$header-color-hover: darken($header-color, 20%);

.footer {
  height: auto;
  padding: 1rem 2rem 3rem 2rem;
}

.footer-title {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 400;
}

.footer-image-div {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  margin-bottom: 3px;
  filter: invert(100%);
}
.footer-brand-tr-div {
  font-size: 10px;
  color: #ccc;
  margin-left: 10px;
  padding-top: 6px;
}

.footer-image-brand {
  width: 16px;
  height: auto;
  margin-right: 5px;
  padding-bottom: 6px;
  filter: invert(100%);
}

.footer-icp-image {
  margin: 0px 5px 3px 5px;
}

.f-flex {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  display: inline-block;
  padding: 12px 0px 0px 0px;
  font-size: 14px;
  &:hover {
    color: rgba(255, 255, 255);
  }
}

.footer-div {
  text-align: -webkit-center;
}

.footer-language-div {
  margin-top: 1rem;
  font-size: 80%;
  color: rgba(255, 255, 255, 0.7);
  text-align: right;
}

.footer-12-div {
  overflow: hidden;
  padding: 2.5rem 0 1.5rem 0;
}

.footer-title-span {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  display: inline-block;
}

.footer-copyright {
  font-size: 80%;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  text-align: center;
  line-height: 35px;
  padding-top: 30px;
}

.footer-statement-div{
  margin-top: 20px;
  text-align: left;
}
