$header-color: #fff;
$header-color-black: #000;
$header-color-hover: darken($header-color, 20%);

.footer {
  height: auto;
  padding: 1rem 2rem 3rem 2rem;
}

.footer-title {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 400;
}

.footer-brand-tr-div {
  font-size: 10px;
  color: #ccc;
  margin-left: 10px;
  padding-top: 6px;
}

.footer-image-brand {
  width: 18px;
  height: 18px;
  margin-right: 2px;
}

.f-flex {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  display: inline-block;
  padding: 12px 0px 0px 0px;
  font-size: 14px;
  &:hover {
    color: rgba(255, 255, 255);
  }
}

.footer-div {
  text-align: left;
}

.footer-language-div {
  margin-top: 1rem;
  font-size: 80%;
  color: rgba(255, 255, 255, 0.7);
  text-align: right;
  svg {
    height: 22px !important;
    width: 22px !important;
    margin: 4px 10px -4px 10px;
    color: snow;
  }
}

.footer-12-div {
  overflow: hidden;
  padding: 2.5rem 5% 1.5rem 5%;
}

.footer-title-span {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  display: inline-block;
}

.footer-copyright {
  font-size: 80%;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  text-align: center;
  line-height: 35px;
  padding-top: 30px;
  svg {
    width: 18px !important;
    height: 18px !important;
    color: snow;
    margin: 2px 6px -2px 6px;
  }
  img {
    margin: 0px 8px 2px 8px;
  }
}

.footer-statement-div{
  margin-top: 20px;
  text-align: left;
}

@media only screen and (max-width: 770px){
  .footer-12-div{
    display:none
  }
  .footer-language-div {
    margin-top: 60px;
  }
}
