/* ==========================================================================
Main page styles
========================================================================== */

.register-from-text-button {
  width: 100px;
  height: 35px;
  padding: 5px;
}

#password-title {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 40px 0px;
}

.form-group {
  margin: 30px auto;
  font-weight: 500;
}

.justify-content-center-password {
  width: 80%;
  margin: 0 auto;
}
