/* ==========================================================================
Main page styles
========================================================================== */

.register-from-text-button {
  width: 100px;
  height: 35px;
  padding: 5px;
}

#password-title {
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 40px;
}

.form-group {
  margin: 30px auto;
  font-weight: 500;
}
