/* ==========================================================================
Main page styles
========================================================================== */

.wallpaper-top-title {
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: center;
  p {
    margin: 20px;
    font-size: 2.125rem;
    font-weight: 300;
    line-height: 1.235;
    letter-spacing: 0.00735em;
  }
  div {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-bottom: 50px;
  }
}

.home-wallpaper-name-content-div-img {
  height: 280px;
  margin: 10px 1%;
  overflow: hidden;
  border-radius: 5px;
  background-color: #262626;
  border: 1px solid rgba(120, 130, 140, 0.09) !important;
  position: relative;
  img {
    width: 100%;
  }
  a {
    position: absolute;
    margin: 1% 10px 0px 0px;
    left: 0px;
    color: snow;
    font-size: 0.95rem;
    font-weight: 400;
  }
}

.home-wallpaper-content-text-div-map {
  width: 80%;
  overflow: hidden;
  max-width: 1200px;
  text-align: left;
  margin: 0 auto;
}

.home-box-top-wallpaper {
  font-size: 0.875rem;
  text-align: center;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  a {
    margin: 52px 0px 38px 0px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.23);
    padding: 8px 18px;
    color: snow;
    width: auto;
  }
  a:hover {
    background-color: #2d2d2d;
  }
}
