/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strength {
  display: inline;
  list-style: none;
  margin: 0;
  margin-left: 15px;
  padding: 0;
  vertical-align: 2px;
}

.point {
  background: #ddd;
  border-radius: 2px;
  display: inline-block;
  height: 5px !important;
  margin: 0px 1px 0px 0px !important;
  width: 20px !important;
  &:last-child {
    margin: 0 !important;
  }
}
