/* ==========================================================================
Main page styles
========================================================================== */
#key-box-heading {
  font-weight: 300;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  a {
    height: 2rem;
    padding: 3px 12px;
  }
}

.key-box-heading-title-div {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 10px;
  a {
    color: #f48fb1;
  }
  a span:hover {
    color: #ff4343;
    text-decoration: none;
  }
}

.table-responsive-div-all-keybos {
  width: 100%;
  overflow-x:hidden;
  overflow-y:hidden;
}

.table-responsive-div-all-keybos-map-table {
  width: 100%;
  float: left;
  border: 1px solid hsla(210,8%,51%,.09)!important;
  text-align: left;
  margin: 1% 0px;
  background-color: #262626;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  font-size: 0.95rem;
}

.table-responsive-clear {
  color: #ffffff;
  font-size: 0.95rem;
  text-align: left;
  padding: 0;
  font-weight: 400;
}

.table-responsive-div-all-keybos-margin {
  position: absolute;
  bottom: 5px;
  right: calc(1% + 5px);
}

.table-responsive-filter {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  margin: 10px 0px;
  input {
    width: 49%;
    float: left;
    min-width: 280px;
    background-color: #eeeeee;
    border: 1px solid hsla(210,8%,51%,.09);
  }
  span {
    float: left;
    padding: 7px;
  }
}

.table-responsive-div-all-keybos-time {
  float: right;
  margin: 0px 1% 0px 5px;
}

.table-responsive-title {
  font-size: 1.2rem;
  color: #66d9ef;
}

.table-responsive-title:hover {
  color: #0070ff;
  text-decoration: none;
}

.table-responsive-a-address {
  color: #f48fb1;
}

.table-responsive-a-address:hover {
  color: #ff4343;
  text-decoration: none;
}
