/* ==========================================================================
Main page styles
========================================================================== */
#key-box-heading {
  font-weight: 300;
  font-size: 1.75rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.key-box-heading-title-div {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-left: 0.5rem;
  margin-bottom: 10px;
  a {
    color: #f48fb1;
  }
}

.table-responsive-div-all-keybos {
  width: 100%;
  overflow-x:hidden;
  overflow-y:hidden;
}

.table-responsive-div-all-keybos-map-table {
  width: 23%;
  height: 300px;
  float: left;
  border: 1px solid hsla(210,8%,51%,.09)!important;
  text-align: center;
  margin: 1%;
  background-color: #262626;
  border-radius: 5px;
  padding: 5px;
  position: relative;
}

.table-responsive-div-all-keybos-margin {
  margin: 10px auto;
  position: absolute;
  bottom: 5px;
  width: 100%;
  right: 0;
}
