/* ==========================================================================
Main page styles
========================================================================== */
.jh-entity-details {
  .jh-entity-details-title {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 3rem;
    span {
      float: left;
      margin-top: 3px;
      color: #ff4343;
      border: 1px solid #ff4343;
      background-color: #262626;
      font-size: 1rem;
      margin-right: 1rem;
      padding: 0px 5px;
      border-radius: 4px;
      font-weight: 800;
    }
  }
  .jh-entity-details-title-date {
    font-size: 0.85rem;
    font-weight: 400;
    color: snow;
    margin-top: 6px;
    margin-bottom: 20px;
    img {
      width: 16px;
      margin: 0px 4px 5px 16px;
    }
  }
  .jh-entity-details-content {
    font-size: 0.95rem;
  }
  .jh-entity-details-content-hr {
    border: none;
    height: 1px;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.12);
    margin: 80px 0px 20px 0px;
  }
  .jh-entity-table-article-div-left {
    float: left;
    font-size: 0.85rem;
  }
  .jh-entity-table-article-div-right {
    float: right;
    padding-right: 1rem;
    font-size: 0.875rem;
    font-weight: 300;
    max-width: 150px;
    margin-left: auto;
    img {
      width: 16px;
      filter: invert(100%);
      margin: 0px 10px 3px 10px;
    }
    span {
      color: #f48fb1;
    }
  }
  .jh-entity-table-article-div {
    margin-bottom: 20px;
    overflow: hidden;
  }
  .jh-entity-content-comment-div {
    margin: 10px 0px;
  }
  .jh-entity-content-comment-div-user {
    font-size: 1.1rem;
    font-weight: 600;
    span {
      font-weight: 200;
      font-size: 0.75rem;
      margin: 0px 15px;
      color: #ccc;
    }
  }
  .jh-entity-content-comment-div-content {
    margin: 20px 0px 30px 0px;
    font-weight: 300;
    font-size: 0.95rem;
  }
}
