/* ==========================================================================
Main page styles
========================================================================== */

.article-top-title {
  font-size: 1.2rem;
  margin: 0 auto;
  p {
    margin-bottom: 5px;
  }
}

.article-list-div-title a{
  padding: 0px;
  text-align: left;
  color: snow;
  line-height: 26px;
}

.article-list-div-content a{
  padding: 0px;
  text-align: left;
  color: snow;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 0.75rem;
}

.article-home-top {
  height: 520px;
}

.home-box-top-hr {
  border: none;
  height: 1px;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.12);
}

.article-home-top-height {
  height: 460px;
}
