/* ==========================================================================
Main page styles
========================================================================== */

.article-home-div {
  width: 100%;
}

.table-article-list-div-home {
  height: 82px;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  padding: 5px 0px 13px 0px;
  position: relative;
}

.table-article-div-left-top {
  float: left;
  padding-left: 0.5rem;
  width: 40%;
  a {
    color: snow;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a:hover {
    color: #66d9ef;
    text-decoration: none;
  }
}

.table-article-div-right-top {
  float: left;
  font-size: 0.75rem;
  border-radius: 4px;
  border: 1px solid #ff4343;
  padding: 0px 6px 1px 6px;
  color: #ff4343;
  margin-top: 8px;
  a {
    color: snow;
    font-size: 1rem;
    font-weight: 600;
  }
}

.table-article-div-left-down {
  padding-left: 1rem;
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  img {
    width: 18px;
    margin-right: 8px;
    margin-top: 2px;
    float: left;
  }
}

.table-article-div-left-down-up {
  max-width: 15%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

.table-article-div-left-down-down-content {
  margin: 0;
  height: 1.5rem;
  padding: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  img {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }
  * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.table-article-div-left-down-down {
  a {
    max-width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 200;
    font-size: 0.95rem;
    margin-left: 20px;
    color: snow;
    margin-top: -4px;
  }
  a:hover {
    color: #66d9ef;
    text-decoration: none;
  }
}

.table-article-div-right-down {
  padding-right: 1rem;
  font-size: 0.875rem;
  font-weight: 300;
  max-width: 150px;
  margin-top: 8px;
  margin-left: auto;
  float: right;
  svg {
    height: 18px;
    margin: 3px 8px -2px 14px;
  }
  span {
    color: #66d9ef;
  }
}

.content-separator-list {
  height: 40px;
}

.title-content-text-div {
  margin-left: 0.5rem;
  color: snow;
  font-weight: 200;
  a span {
    color: #f48fb1;
  }
  a span:hover {
    color: #ff4343;
    text-decoration: none;
  }
  h3 {
    font-weight: 300;
  }
  div {
    font-size: 0.875rem;
  }
}
