/* ==========================================================================
Main page styles
========================================================================== */
.title-content-text-div {
  margin-left: 0.5rem;
  color: #fff;
  font-weight: 200;
  margin-bottom: 10px;
  a span {
    color: #f48fb1;
  }
  h3 {
    font-weight: 300;
  }
  div {
    font-size: 0.875rem;
  }
}

.software-list-div-title {
  padding: 0px;
  img {
    width: 72px;
    height: 72px;
  }
}

.div-width-auto {
  width: 100%;
}

.software-list-div-content {
  margin-top: 25px;
  white-space: nowrap;
  img {
    width: 15px;
    margin-bottom: 5px;
    margin-right: 5px;
    height: auto;
  }
}

.software-list-div-footer {
  font-size: 0.9075rem;
  font-weight: 300;
  opacity: 0.7;
  width: 100%;
  position: absolute;
  bottom: 20px;
  padding-right: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  img {
    width: 15px;
    height: auto;
    margin: 0px 5px 2px 0px;
    filter: invert(60%);
  }
  div {
    width: 30%;
    float: left;
  }
}

.software-list-div-content-up {
  opacity: 0.4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.software-list-div-content-center {
  a {
    font-weight: 400;
    margin-bottom: 0.25rem;
    letter-spacing: 0.5px;
    font-size: 1.23047rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    padding-left: 0px;
    color: snow;
  }
  a:hover {
    color: #66d9ef;
    text-decoration: none;
  }
}

.software-list-div-content-down {
  font-size: 15px;
  opacity: 0.5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-text-div-map {
  width: 100%;
  overflow-x:hidden;
  overflow-y:hidden;
}

.software-list-div {
  border: 1px solid hsla(210,8%,51%,.09)!important;
  float: left;
  width: 24%;
  height: 320px;
  background-color: #262626;
  border-radius: 5px;
  padding: 20px;
  margin: 0.5%;
  position: relative;
}
