/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background-size: contain;
}

.alert-warning {
  border: 1px solid rgba(120, 130, 140, 0.09);
  background-color: #262626;
  color: #ccc;
  .alert-link {
    color: #fff;
  }
}

.home-top-01 {
  width: 90%;
  margin: 0 auto;
  border: 1px solid red;
  padding: 128px 24px;
  text-align: left;
  align-items: flex-start;
  flex-direction: row;
  max-width: 960px;
  .brand-icon {
    width: 195px;
    height: 175px;
    margin-right: 64px;
  }
}
