/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background-size: contain;
}

.alert-warning {
  border: 1px solid rgba(120, 130, 140, 0.09);
  background-color: #262626;
  color: #ccc;
  .alert-link {
    color: #fff;
  }
}

.home-top-row {
  width: 85%;
  margin: 0px auto;
  padding: 128px 0px 0px 0px;
  align-items: flex-start;
  flex-direction: row;
  .col-md-4 {
    text-align: center;
    margin-bottom: 80px;
    img {
      width: 100%;
      height: 100%;
      max-width: 309px;
      max-height: 118px;
    }
  }
  .col-md-8 {
    margin-bottom: 80px;
    p {
      text-indent: 2em;
    }
  }
}

.home-login-div {
  margin: 0 auto;
  text-align: center;
  width: auto;
  border: 0;
  background-color: transparent;
}

.home-login-div-span {
  width: 110px;
  background-color: #fff;
  border: 1px solid rgba(120, 130, 140, 0.09);
  padding: 4px 12px;
  font-size: 0.85rem;
  font-weight: 200;
  span {
    color: #000;
  }
}
.radius-left {
  border-radius: 5px 0px 0px 5px;
}

.radius-right {
  border-radius: 0px 5px 5px 0px;
}

.home-logged-message-div {
  width: auto;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  font-weight: 300;
  div {
    background-color: transparent;
    border: 0;
    span {
      padding: 4px 12px;
      border-radius: 4px;
      background-color: #d4edda;
      border-color: #c3e6cb;
    }
  }
}

.home-login-low {
  margin: 0 auto;
  text-align: center;
}

.home-login-low-text {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  margin-top: 10px;
}
.home-login-low-text-github {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: #1f69c0;
  margin-top: 5px;
  margin-bottom: 80px;
}

.home-article-and-software {
  width: 95%;
  margin: 0 auto;
}

.home-box-background-color {
  border: 1px solid rgba(120, 130, 140, 0.09);
  background-color: #262626;
  padding: 20px 20px;
  border-radius: 5px;
  height: 557px;
  margin-bottom: 80px;
}

.home-box-top-hr-link {
  color: snow;
  font-size: 0.95rem;
  padding: 0px;
}
