/* ==========================================================================
Main page styles
========================================================================== */

.register-from-text-button-phone {
  margin: 2rem 0px;
  width: 100%;
  min-width: 110px;
}
.register-from-text-button {
  width: 100px;
  height: 35px;
  padding: 5px;
  margin-top: 20px;
}
