/* ==========================================================================
Main page styles
========================================================================== */
.modal-content {
  background-color:#212121;
  color:#fff;
  .close {
    color: #fff;
  }
}
